.banner {
    color: #fff;
    margin-bottom: 2rem;
    background-color: #333333;

    .article_meta {
        display: flex;
        padding-top: 2rem;
        align-items: center;
        line-height: 1rem;

        a {
            text-decoration: none;
            color: #fff;

            img {
                border-radius: 100%;
                width: 32px;
                height: 32px;
            }
        }

        div {
            margin-left: 5px;

            .info:hover {
                text-decoration: underline;
            }

            span {
                box-sizing: inherit;

                height: 16px;
                color: #bbb;
                font-size: .8rem;
                display: block;
            }
        }

        .button_follow {
            margin-left: 15px;
            opacity: .8;
            font-size: .875rem;
            color: #373a3c;
            background-color: #e6e6e6;
            border-color: #adadad;
        }

        .button_follow:hover {
            font-size: .875rem;
            color: #373a3c;
            background-color: #fff;
            border-color: #ccc;
        }

        .button_favorite {
            font-size: .875rem;
            margin-left: 5px;
            color: #5cb85c;
            background-color: transparent;
            border-color: #5cb85c;
        }

        .button_favorite:hover {
            color: #fff;
            background-color: #5cb85c;
        }
    }
}

.tag_list {
    ul {
        color: #aaaaaa;
        display: inline-block;
        font-size: 12.8px;
        list-style: none;
        padding: 0 !important;

        li {
            float: left;
            border: 1px solid #bebcbc;
            margin-right: 8px;
            padding-right: .6em;
            padding-left: .6em;
            border-radius: 10rem;
        }
    }
}

.comment {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .button_comment {
        color: #fff;
        background-color: #5cb85c;
        border-color: #5cb85c;
    }

    .button_comment:hover {
        background-color: #449d44;
        border-color: #419641;
    }
}